{% extends "index.html" %}

{% block content %}
<section id="about-me">
    <div class="container">
        <h2>About Me</h2>
        <p>Hey there! I'm Sachin, a Data Analyst Intern at RBC, and I'm really into working with data, writing SQL Queries, and getting creative with Python. I've been diving into machine learning projects both for fun and for my college, and I've also got 3 years of experience as a content management developer under my belt.</p>

        <p>Back in my previous company, my team and I helped a US-based annuity firm go digital by creating workflows and cutting down on manual effort. At college, I built a computer vision-based document classification system to make it easier for new students to upload their documents accurately. Now, in my current role, I'm all about providing quality data with my team at RBC.</p>

        <p>I earned my Bachelor's degree in Computer Science and Engineering and went on to complete a 2-year Post Graduate Certificate in Artificial Intelligence and Machine Learning. My managers have told me that my greatest value is being available and committed to getting the job done, which is something I'm really proud of.</p>

    </div>
</section>
{% endblock %}