{% extends "index.html" %}

{% block content %}
<section id="about-me">
    <div class="container">
        <h2>About Me</h2>
        <p>Hello! I'm Sachin, a former Data Analyst Intern at RBC, where I delved into the world of data, honed my SQL query skills, and brought creativity to life through Python.
            Beyond my internship, I've engaged in intriguing machine learning projects for both personal enjoyment and academic pursuits. With a solid foundation, I've also accumulated 3 years of experience as a content management developer.</p>
<p>In my previous role, I collaborated with my team to digitize a US-based annuity firm, streamlining workflows and reducing manual efforts. During my college years, I developed a computer vision-based document classification system, simplifying the document upload process for new students. In my most recent position at RBC, I've been dedicated to ensuring top-notch data quality with my team.</p>
<p>Holding a Bachelor's degree in Computer Science and Engineering, I furthered my education with a 2-year Post Graduate Certificate in Artificial Intelligence and Machine Learning. I take pride in the feedback from my managers, who have commended my availability and commitment to accomplishing tasks efficiently.</p>
    </div>
</section>
{% endblock %}