{% extends "index.html" %}

{% block content %}
<section id="projects">

    <div class="project-block">
        <div class="headline-container">
            <h3>Data Analyst: Streamlining Data Quality, Project Management, and Documentation</h3>
            <button class="details-btn">Details</button>
        </div>
        <div class="project-description" hidden>
            <ul>
                <li><strong>Ensured monthly data quality through SQL queries and variance analysis</strong> </li>
                <li><strong>Managed Jira tickets and performed UAT validation for user stories</strong> </li>
                <li><strong>Created and maintained Confluence documentation</strong> </li>
                <li><strong>Contributed to team success through data analysis, project management, and attention to detail.</strong> </li>
            </ul>
        </div>
    </div>

    <div class="project-block">
        <div class="headline-container">
            <h3>Revolutionizing Document Management: A Computer Vision-Based Classification System</h3>
            <button class="details-btn">Details</button>
        </div>
        <div class="project-description" hidden>
            <ul>
                <li><strong>Developed a Computer Vision-based Document Classification System for an educational institution.</strong> </li>
                <li><strong>Leveraged OpenCV and Tesseract engine to accurately identify uploaded documents and alert users about their document type.</strong> </li>
                <li><strong>Reduced human error by eliminating the possibility of incorrect document uploads.</strong> </li>
                <li><strong>Built and deployed the entire web application using Flask and EC2 server.</strong> </li>
            </ul>
        </div>
    </div>


    <div class="project-block">
        <div class="headline-container">
            <h3>Transforming Annuity Services with Cutting-Edge Digital Solutions</h3>
            <button class="details-btn">Details</button>
        </div>
        <div class="project-description" hidden>
            <ul>
                <li><strong>Crafted dynamic, responsive forms with seamless cross-device compatibility.</strong> </li>
                <li><strong>Enabled collaborative process modeling with a user-friendly, web-based designer.</strong> </li>
                <li><strong>Streamlined integration and reusability by connecting with various databases and systems.</strong> </li>
                <li><strong>Implemented comprehensive reporting and analytics for data-driven insights.</strong> </li>

            </ul>
        </div>
    </div>
</section>
{% endblock %}